@import './base.css';
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body,
#app {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #ffffff;
}

button,
input,
select,
textarea {
  font: inherit;
}
